/* Custom CSS for round-ended button */
.round-ended-btn {
  border-radius: 20px; /* Adjust the value to control the roundness */
  padding-left: 20px;
  padding-right: 20px;
}

.maincontent {
background-color: rgba(0, 0, 0, 0.); /* Adjust the last value between 0 and 1 (0.5 = 50% transparency) */
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/spiral2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
}

.nasiheader {
background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value between 0 and 1 (0.5 = 50% transparency) */
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
}

.navbar-nav {
      justify-content: center;
}
